<h3>Getting Started</h3>

<p>
  Within your ember-cli project, run the following:
</p>

{{code-snippet name="ember-install.sh"}}

<p>
  Then modify your <code>ember-cli-build.js</code> (or <code>Brocfile.js</code>)
  <code>babel.includePolyfill</code> is true to enable ES6 generator function
  transpilation.
</p>

{{code-snippet name="ember-app-config.js"}}

