<p style="font-size: 20px;">
  <strong>ember-concurrency</strong> is an Ember Addon that
  makes it easy to write concise, robust, and beautiful
  asynchronous code.
</p>

<p>
  It provides you with a powerful <strong>Task</strong> primitive,
  which offers the following benefits:
</p>

<ul>
  <li>
    Tasks, unlike Promises, support cancelation.
  </li>
  <li>
    Tasks expose their underlying state (whether they're running or idle)
    which makes it trivial to build loading indicators without
    having to manually track / mutate state yourself.
  </li>
  <li>
    {{link-to 'Task Modifiers' 'docs.task-concurrency'}} make it trivial
    to prevent two executions of the same task from running at the same time, e.g.
    you can prevent double form submissions using the <code>.drop()</code> modifier,
    or you can configure a task to be <code>.restartable()</code> so that it starts over
    when you click a "Restart" button. Implementing this logic without tasks requires
    a lot of boilerplate code and defensive programming.
  </li>
  <li>
    Tasks that live on Components are automatically canceled when that
    Component is unrendered; no more <code>if(this.isDestroyed)</code>
    checks to prevent timers or ajax responses causing
    <code>"set on destroyed object"</code> errors.
  </li>
  <li>
    ...and much more
  </li>
</ul>

<h3>Additional Learning Resources</h3>

<p>
  In addition to the comprehesive documentation on this site,
  you might find the following links useful for learning about
  ember-concurrency.
</p>

<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=VEzVDOmY-dc">
      EmberConf 2017 presentation on ember-concurrency
    </a>
  </li>
  <li>
    <a href="https://embermap.com/topics/ember-concurrency">
      EmberMap's paid course on ember-concurrency
    </a>
  </li>
  <li>
    <a href="https://medium.com/@machty/ember-concurrency-the-solution-to-so-many-problems-you-never-knew-you-had-cce6d7731ba9#.e6r0iv44u">
      Article: ember-concurrency, the solution to so many problems you never knew you had
    </a>.
  </li>
  <li>
    <a href="https://player.vimeo.com/video/162329769">
      Global Ember Meetup presentation
    </a>
  </li>
</ul>

