<h3>Task Groups (deprecated)</h3>

<p>
  Task Groups are "soft"-deprecated and likely to be removed in a future version
  of ember-concurrency (we will release another minor version officially deprecating them
  before releasing a major version). Many users found that Task Groups were a bit of an
  "over-solution" to a very particular use case, and that they didn't elegantly handle
  minor variations to the original stated use case. If you think this deprecation is
  made in error, please open an issue.
</p>

<p>
  You can read about Task Groups in the
  <a href="https://v221.ember-concurrency.com/docs/task-groups">old docs</a>.
</p>
