<h3>Task lifecycle events</h3>

<p>
  ember-concurrency implements a number of lifecycle events that allow
  for a host object to react to various changes in task instance lifecycle.
  Using lifecycle hooks allows for adding things like instrumentation to tasks
  or for separating and reusing error handling code across different tasks.
  Using the <code>.evented()</code> modifier will enable tasks to fire lifecycle
  events on their host objects.
</p>

<p>
  In the below example, we refactor the
  <LinkTo @route="docs.examples.ajax-throttling">AJAX throttling example</LinkTo> to use
  task events for logging of the <code>ajaxTask</code>'s state changes, instead
  of doing it manually in the looping task itself.
</p>

<h3>Live Example</h3>

<TaskLifecycleEventsExample />

<CodeSnippet @name="task-lifecycle-events.js" />
