<div class="container navbar">
  <div class="row">
    <div class="ten columns">
      <h3 style="float:left;" {{! template-lint-disable no-inline-styles }}>
        ember-concurrency

        <span style="font-size: 0.5em;" {{! template-lint-disable no-inline-styles }}>
          (v {{addonVersion}})
        </span>
      </h3>
    </div>
    <div class="one columns">
      <div class="nav-bar-link-outer">
        <a href="/api">API</a>
      </div>
    </div>
    <div class="one columns">
      <div class="nav-bar-link-outer">
        <a href="https://github.com/machty/ember-concurrency" target="_blank" rel="noopener">GitHub</a>
      </div>
    </div>
  </div>
</div>

{{outlet}}

{{ember-notify}}
