<h2>Using Task Decorators</h2>

<p>
  The decorators-based APIs for defining ember-concurrency tasks are no longer recommended
  due to decorators not playing nicely with TypeScript-based APIs.
</p>

<p>
  If you would like to see the older APIs, please check out
  <a href="https://v221.ember-concurrency.com/docs/task-decorators">the old docs site</a>.
</p>
