<h1>Helpers Test</h1>

<p class="task-status">{{status}}</p>

<button onclick={{perform    myTask 1 2 3}} class="perform-task">Perform</button>
<button onclick={{cancel-all myTask 1 2 3}} class="cancel-task">Cancel</button>

