<h1>Helpers Test</h1>

<p class="task-status">{{status}}</p>

{{#my-button action=(perform    myTask 1 2) class="perform-task"}}Perform{{/my-button}}
{{#my-button action=(cancel-all myTask 1 2) class="cancel-task" }}Cancel{{/my-button}}

