<h4>Async Iterator from Ember.Evented, bufferType: {{if bufferType bufferType 'none'}}</h4>

<p>Latest Value: {{cachedValue}}</p>
<p>Value: {{value}}</p>
<p>
  <button {{action 'buttonClick'}}>Click me</button>
</p>
