@import "./normalize";
@import "./skeleton";
@import "bower_components/font-awesome/scss/font-awesome";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "./fontello";

.centered {
  text-align: center;
}

section {
  margin-top: 10rem;
}

.navbar {
  a {
    text-decoration: none;
    color: black;
    line-height: 6rem;
    padding: 2rem 2rem;
  }
}

.nav-bar-link-outer {
  text-align: center;
}

.docs {
  margin-top: 2rem;
}

.side-menu {
  padding-left: 2rem;
}

.progress-outer {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.progress-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  transition: width 0.5s;
  -webkit-transition: width 1s;
  white-space: nowrap;
  line-height: 100%;
  border-radius: 3px;
  line-height: 40px;
}


.btn-cancel {
  color: red;
  font-size: 20px;
}

.btn {
  line-height: 2;
  padding: 1rem;
  background-color: #ddddff;
  width: 300px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid grey;
}

.btn.disabled {
  background-color: #ddd;
  color: #888;
}

.btn.running {
  background-color: red;
  color: white;
}

.value {
  font-size: 24px;
  color: red;
}

button, .button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.ember-notify {
  background-color: rgba(255, 255, 255, 0.9);
}

th, td {
  min-width: 60px;
}

.completion-state-table {
  th, td {
    width: 33%;
  }
  tbody tr {
    height: 65px;
    /*vertical-align: top;*/
  }
}

.completion-status {
  @extend .button;
  @extend .button-primary;

  border: none;
  cursor: auto;
  margin: 0;

  &.completion-success {
    &:hover {
      background-color: #1BBD92;
    }
    background-color: #1BBD92;
  }

  &.completion-error {
    &:hover {
      background-color: #F33F3F;
    }
    background-color: #F33F3F;
  }
}

.fun-modal-container {
  width: 500px;
}

.clickable {
  @extend .button-primary;
}

.github-edit {
  float: right;
  position: relative;
  top: 1rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

