@import "./normalize";
@import "./skeleton";

.centered {
  text-align: center;
}

section {
  margin-top: 10rem;
}

.navbar {
  a {
    text-decoration: none;
    color: black;
    line-height: 6rem;
    padding: 2rem 2rem;
  }
}

.nav-bar-link-outer {
  text-align: center;
}

.docs {
  margin-top: 2rem;
}

.side-menu {
  padding-left: 2rem;
}

.progress-outer {
  position: relative;
  border: 1px solid black;
  height: 20px;
}

.progress-inner {
  position: absolute;
  background-color: blue;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}


.btn-cancel {
  color: red;
  font-size: 20px;
}

.btn {
  line-height: 2;
  padding: 1rem;
  background-color: #ddddff;
  width: 300px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid grey;
}

.btn.disabled {
  background-color: #ddd;
  color: #888;
}

.btn.running {
  background-color: red;
  color: white;
}

.value {
  font-size: 24px;
  color: red;
}

