<h3>Accelerating Increment / Decrement Buttons</h3>

<p>
  This example demonstrates a few different concepts:
</p>

<ul>
  <li>
    Tricky time-based operations like acceleration are simplified
    by the sequential style of task functions
  </li>
  <li>
    You can use <code>(perform taskName)</code> in place of anywhere you
    might want to use a classic Ember action.
  </li>
</ul>

<h5>Live Example</h5>

<h1>Num: {{count}}</h1>

<p>(Hold down the buttons to accelerate.)</p>

{{! BEGIN-SNIPPET press-and-hold-buttons }}
<p>
  {{#press-and-hold-button
    press=(perform incrementBy -1)
    release=(cancel-all incrementBy)}}
    --Decrease
  {{/press-and-hold-button}}

  {{#press-and-hold-button
    press=(perform incrementBy 1)
    release=(cancel-all incrementBy)}}
    Increase++
  {{/press-and-hold-button}}
</p>
{{! END-SNIPPET }}

<h5>JavaScript (task)</h5>

{{code-snippet name="increment-button-task.js"}}

<h5>JavaScript (button component)</h5>

{{code-snippet name="increment-button.js"}}

<h5>Template</h5>

{{code-snippet name="press-and-hold-buttons.hbs"}}
