<h3>Introduction</h3>

<p>
  <strong>ember-concurrency</strong> is a toolset that supplements
  Ember's existing tools and conventions for handling concurrency and
  asynchrony.
</p>

<h4>Motivation</h4>

<p>
  <a href="http://emberjs.com/api/classes/RSVP.Promise.html">Promises</a>
  are a powerful tool for expressing fault-tolerant, asynchronous operations.
  (If you are unfamiliar or inexperienced with Promises, you
  should familiarize yourself with them first before considering
  <strong>ember-concurrency</strong> in your projects.) While Ember
  provides many promise-friendly APIs to help you build your apps,
  even careful, idiomatic use of Promises in Ember apps leaves room for
  a slew of concurrency / async-related bugs and leaks to sneak in.
</p>

<h4>Key Ideas</h4>

TODO

