<h1>Task injection test</h1>

<button onclick={{perform this.myTask}} data-test-selector="perform-task-w-injection-button" type="button">clickme</button>

<p data-test-selector="perform-task-result">{{this.myTask.last.value}}</p>
