<h1>Task injection test</h1>

<button onclick={{perform myTask}} data-test-selector="perform-task-w-injection-button">clickme</button>

<p data-test-selector="perform-task-result">{{myTask.last.value}}</p>

