<h1>Ember Data Test</h1>

<button onclick={{perform myTask}} data-test-selector="load-data-button">
  {{#if myTask.isRunning}}
    Request is pending
  {{else}}
    No request pending
  {{/if}}
</button>

<ul data-test-selector="loaded-users">
  {{#each users as |u|}}
    <li>{{u.username}}</li>
  {{/each}}
</ul>

