<h4>Channel Actions</h4>

<p>hello: {{foo}}</p>

<ul class="button-group">
  {{action-button text="wat" action=borf}}
  {{action-button text="genAction" action=genAction}}
</ul>

{{#if sharedActionsChannel.hasTakers}}
  not blocking
{{else}}
  BLOCKING
{{/if}}

<ul class="button-group">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
</ul>

