<h3>Installation</h3>

<p>
  Within your ember-cli project, run the following:
</p>

{{code-snippet name="ember-install.sh"}}

<p>
  Then open <code>ember-cli-build.js</code> (or <code>Brocfile.js</code>)
  and set <code>babel.includePolyfill</code> to true to enable ES6 generator function
  transpilation.
</p>

{{code-snippet name="ember-app-config.js"}}

