<div class="row">
  {{#if prevTopic}}
    <p class="u-pull-left">
      Previous: {{link-to prevTopic.title prevTopic.route}}
    </p>
  {{/if}}

  {{#if nextTopic}}
    <p class="u-pull-right">
      Next: {{link-to nextTopic.title nextTopic.route}}
    </p>
  {{/if}}
</div>

