<h4>Async Iterator, bufferType: {{if bufferType bufferType 'none'}}</h4>

<p>Processing value <span class="value">{{value}}</span></p>
<p>Latest observable value <span class="value">{{obsValue}}</span></p>

