<p>Status: {{status}}</p>
<p>
	<button {{action 'doFulfillPromise'}}>Fulfill</button>
	<button {{action 'doRejectPromise'}}>Reject</button>
</p>

<p>I have resolved {{numInvocations}} promise(s)</p>

