<h3>Writing Your First Task</h3>

<h4>Step 1: Deciding where the Task will live</h4>

<p>
  Should you define a task on a Component? Or perhaps a Service?
</p>

<p>
  This choice is important because <strong>Tasks get automatically canceled
  when the object they live on is destroyed</strong>.
  So if you want the task to cancel when a component is unrendered, define
  it on a Component class, but if you need it to outlive a component's lifespan,
  it probably belongs on a Service or Controller.
</p>

<h4>Step 2: Implementing the task</h4>

<p>
  Once you've decided where you want a task to live, you can start implementing
  your task.
</p>

{{code-snippet name="writing-tasks.js"}}

<p>
  The next section on {{link-to 'Task Function Syntax' 'docs.task-function-syntax'}} goes
  into greater detail about the generator function syntax and how you can use it
  to write tasks.
</p>

<h4>Step 3: Performing the task</h4>

<p>
  Now that you've implemented your Task, you'll need some way to actually
  perform it. You have three options:
</p>

<ol>
  <li>
    In JavaScript, get a reference to the task and call <code>task.perform(...)</code>
  </li>
  <li>
    In your Handlebars template, use the <code>perform</code> helper
    (e.g. <code>(perform myTask)</code>).
  </li>
  <li>
    In JavaScript, specify the Ember Events that should cause the task to
    run using <code>task(...).on(eventName)</code>. You can use <code>.on('init')</code>
    to create a task the runs as soon as the object it lives on is initialized.
  </li>
</ol>

<p>
  The following example demonstrates all three variants:
</p>

<h3>Live Example</h3>

{{start-task-example}}


