<div class="tutorial-example">

{{! BEGIN-SNIPPET better-syntax-9 }}
  <button onclick={{perform findStores}}>
    Find Nearby Stores
    {{#if findStores.isRunning}}
      {{loading-spinner}}
    {{/if}}
  </button>

  {{#if result}}
    {{#each result.stores as |s|}}
      <li>
        <strong>{{s.name}}</strong>:
        {{s.distance}} miles away
      </li>
    {{/each}}
  {{/if}}
{{! END-SNIPPET }}

  <span class="tutorial-example-label">Example</span>
</div>
