<div class="tutorial-example">

  {{! BEGIN-SNIPPET better-syntax-9 }}
  <button {{on "click" (perform this.findStores)}} type="button">
    Find Nearby Stores
    {{#if this.findStores.isRunning}}
      <LoadingSpinner />
    {{/if}}
  </button>

  {{#if this.result}}
    {{#each this.result.stores as |s|}}
      <li>
        <strong>{{s.name}}</strong>:
        {{s.distance}} miles away
      </li>
    {{/each}}
  {{/if}}
  {{! END-SNIPPET }}

  <span class="tutorial-example-label">Example</span>
</div>
