{{#if isShowingButton}}
  <button type="button" class="eventual-button" onclick={{action 'setValue'}}>Eventual Button</button>
  <div class="value">value={{value}}</div>
{{else}}
  <div class="disappearing-content">Disappearing Content</div>
{{/if}}
