{{#if isShowingButton}}
  <div class="eventual-button" onclick={{action 'setValue'}}>Eventual Button</div>
  <div class="value">value={{value}}</div>
{{else}}
  <div class="disappearing-content">Disappearing Content</div>
{{/if}}
