<h3>Loops</h3>

<p>
  {{#power-select search=(action searchRepo.perform) selected=selected onchange=(action (mut selected)) as |repo|}}
    {{repo.full_name}}
  {{/power-select}}
</p>

{{code-snippet name="debounced-search-with-cancellation.js"}}

